body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fb;
  text-align: center;
  margin-top: 80px;
}

h1 {
  color: #4f46e5;
}
section {
  margin-top: 60px;
}

h2 {
  color: #111827;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
}

.subtitle {
  color: #4b5563;
  margin-top: 8px;
}
